* {box-sizing: border-box;}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
}
td {
    padding: .5em .5em;
    border: 1px solid black;
}
.table {
    margin: .5em auto;
}